// для Модала при создании

// Уведомление 
var cat_dohod_#{@cat_dohod_id}_show = function(){ new PNotify({ title: "Запись #{@cat_dohod.name} создана.", type: 'success', icon: false, hide: true, delay: 1500, buttons: { sticker: false } })};
cat_dohod_#{@cat_dohod_id}_show();

// Добавление в dataTables
// $('#dataTables_cat_dohod').append("#{j render partial: 'cat_dohods/dataTable/index_td', locals: {cat_dohod: @cat_dohod }}");



// Вызов функции Модала
$('#new_cat_dohod_modal').modal_success();
