:javascript
  var tab_other_js_<%= singular_table_name %> = function() {
  };

  $(document).ready(tab_other_js_<%= singular_table_name %>);
  $(document).on('page:load', tab_other_js_<%= singular_table_name %>);




