%ul{"data-role" => "listview"}
  - @schets.each do |s|
    - if current_login.id==s.login_id
      %li
        = s.name
        %span.ui-li-count
          = s.cash
    - if current_login.email=~/bira/ or current_login.email=~/andr/ or current_login.email=~/admin/
      %li
        = s.name
        %span.ui-li-count
          = s.cash

