// Удаление

// Уведомление 
var cat_rashod_#{@cat_rashod_id} = function(){ new PNotify({ title: "Запись #{@cat_rashod.name} удалена.", type: 'error', icon: false, hide: true, delay: 1500, buttons: { sticker: false } })};
cat_rashod_#{@cat_rashod_id}();

// Удаление из dataTables
$("#cat_rashod_#{@cat_rashod_id}").remove();

