/*
 * This is a manifest file that'll be compiled into application, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 * require jquery.mobile

 * require rails
 * require jquery.mobile.flatui.css
 *= require jqm-demos

 * require jqm-icon-pack-fa-builder
 * require jqm-icon-pack-fa

 *= require tablesaw
 *= require dialog
 *= require vg
 *= require_self
 * require_tree .
 * require validationEngine.jquery
 * require nvd3-rails
 * require nvd3-rails
 */

.ui-panel-dismiss-open {
    z-index: 1;
}
.todate {
    display:none;
}


#leftpanel3 a {
color: grey !important;
}


.s {
  color: white !important;
}


.ui-btn-active {
  border: 1px solid black !important;
}


.bgred {
  border: 2px solid red !important;
}


label.error {
  color: red;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  margin-top: 0.5em;
  width: 100%;
  float: none;
}
@media screen and (orientation: portrait) {
  label.error {
    margin-left: 0;
    display: block;
  }
}
@media screen and (orientation: landscape) {
  label.error {
    display: inline-block;
    margin-left: 22%;
  }
}
em {
  color: red;
  font-weight: bold;
  padding-right: .25em;
}
